<!DOCTYPE html>
<html lang="en">
<head>
    <title>Soccer Sim</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {% javascripts '@MatchBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    {% stylesheets '@MatchBundle/Resources/public/css/*.scss' output='/css/page.css' filter='?yui_css,compass' %}
    <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
    <link rel="stylesheet" href="css/jquery.nouislider.min.css" />
    <link rel="stylesheet" href="css/misc.css" />
</head>
<body>
    <div class="container-fluid">
{% block content %}{% endblock %}
    </div>
</body>
</html>
